* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*::before,
*::after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 18px;
   color: #fff;
   font-family: "Roboto", sans-serif;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

body._lock{
   overflow: hidden;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

input {
   outline: none;
}

button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

.wrapper {
   min-height: 100vh;
}

.container {
   max-width: 1320px;
   margin: 0 auto;
   padding: 0px 15px;
}

.full-screen {
   position: relative;
   text-transform: uppercase;

   &__body {
      background-color: rgba(0, 0, 0, 0.5);
      color: #000;
      position: relative;
      z-index: 2;
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   &__navigation-head {
      width: 100%;
      background-color: #fafafa;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
      position: fixed;
      z-index: 25;
      top: 0;
   }

   &__navigation {
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__logo {
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
      color: #2a2213;
      text-transform: none;
   }

   &__row {
      max-width: 1290px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__nav {
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      color: #2a2213;
      display: flex;
      transition: all 0.3s ease;
   }

   &__nav:hover {
      opacity: 0.6;
      transition: all 0.3s ease;
   }

   &__info {
      display: flex;
      flex: 1 1 auto;
      margin: 0px 167px;
   }

   &__icon {
      display: none;
   }

   &__bell {
      flex: 0 1 auto;
   }

   &__tel-button {
      padding: 10px 33px;
      border: 1px solid #2a2213;
      backdrop-filter: blur(2px);
      border-radius: 3px;
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      color: #2a2213;
      transition: all 0.3s ease;
   }

   &__tel-button:hover {
      background-color: #f89d13;
      color: #fafafa;
      border: none;
      transition: all 0.3s ease;
   }

   &__title {
      font-size: 48px;
      font-weight: 700;
      line-height: 59px;
      text-align: center;
      color: #fafafa;
      padding: 286px 0px 53px 0px;
   }

   &__video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}

.full-screen__services li:nth-child(3) {
   margin: 0px 45px;
}

.logo {
   font-size: 24px;
   font-weight: 700;
   line-height: 28px;
   color: #2a2213;
}

.phone {
   font-size: 24px;
   font-weight: 500;
   line-height: 32px;
   color: #2a2213;
   margin: 0px 0px 0px 20px;
   transition: all 0.3s ease;
}

.phone:hover {
   transition: all 0.3s ease;
   color: #f89d13;
}

.services {
   display: flex;
}

.contact {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin: 0px 0px 150px 0px;

   &__row {
      width: 465px;
      height: 333px;
      border-radius: 5px;
      background: rgba(177, 177, 177, 0.2);
      backdrop-filter: blur(4px);
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 43px 60px 0px 60px;
   }

   &__title {
      width: 421px;
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      text-align: center;
      padding: 0px 0px 31px 0px;
      text-transform: none;
      color: #fff;
   }

   &__text {
      width: 355px;
      font-size: 12px;
      font-weight: 400;
      line-height: 15px;
      color: #eaeaea;
      text-align: center;
      text-transform: none;
   }
}

.tel {
   width: 360px;
   height: 50px;
   background-color: #fafafa;
   border-radius: 3px;
   padding: 15px 20px;
   border: none;
   align-items: center;
   margin: 0px 0px 15px 0px;
}

.btn {
   width: 360px;
   font-size: 16px;
   font-weight: 700;
   line-height: 20px;
   text-align: center;
   color: #fff;
   background: linear-gradient(93.5deg, #ffaa29 -2.59%, #f89d13 97.33%);
   border-radius: 3px;
   padding: 15px 107px;
   margin: 0px 0px 23px 0px;
   transition: all 0.3s ease;
}

.btn:hover {
   box-shadow: 0px 4px 20px 0px #f89d1373;
   transition: all 0.3s ease;
}

.main {
   &__body {
      background-color: #fafafa;
   }

   &__block {
      display: flex;
      justify-content: center;
      align-items: center;
   }
}

.content {
   &__title {
      font-size: 48px;
      font-weight: 700;
      line-height: 59px;
      text-align: center;
      color: #2b2213;
      text-transform: uppercase;
      flex: 1 1 auto;
      padding: 160px 0px 26px 0px;
   }

   &__text {
      width: 624px;
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      text-align: center;
      opacity: 0.7;
      color: #000;
      flex: 1 1 auto;
      padding: 0px 0px 72px 0px;
      margin: 0 auto;
   }

   &__transportirarion-block {
      display: flex;
   }

   &__transportation {
      display: flex;
      justify-content: center;
      flex: 0 1 33.333%;
   }
}

.content__block-row {
   display: flex;
   flex: 0 1 33.333%;
   justify-content: space-between;
   align-items: center;
}

.main__card-block {
   display: none;
}

.card-block {
   display: flex;

   &__card {
      flex: 1 1 410px;
      background-color: #ffffff;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
      border-radius: 5px;
      margin: 0px 30px 120px 0px;
   }

   &__card:last-child {
      margin: 0px 0px 120px 0px;
   }

   &__info {
      padding: 29px 27px;
   }

   &__title {
      font-size: 22px;
      font-weight: 500;
      line-height: 30px;
      opacity: 0.7;
      color: #000;
      padding: 0px 0px 20px 0px;
   }

   &__text {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      opacity: 0.7;
      color: #000;
      padding: 0px 0px 20px 0px;
   }

   &__btn {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
   }
}

.transportation {
   &__title {
      width: 431px;
      font-size: 24px;
      font-weight: 500;
      line-height: 29px;
      color: #2b2213;
      text-align: center;
      border: 0.5px solid #2a2213;
      background-color: #f3f3f3;
      padding: 39px 40px;
      margin: 0px 0px 50px 0.4px;
      transition: all 0.3s ease;
   }
   &__title:first-child {
      margin: 0px 0px 50px 0px;
   }

   &__title:hover {
      background-color: #f7f7f7;
      transition: all 0.3s ease;
   }

   &__title-1 {
      border-radius: 5px 0px 0px 5px;
   }

   &__title-2 {
      margin: 0px -3px 50px -3px;
   }

   &__title-3 {
      border-radius: 0px 5px 5px 0px;
   }
}

.transportation__title--active {
   color: #f89d13;
   background-color: #fff;
}

.transportation__title--active:hover {
   background-color: #fff;
}

.main__card-block--active {
   display: block;
   display: flex;
}

.main {
   &__scheme {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #fafafa;
   }
}

.scheme {
   &__row {
      width: 1290px;
      flex: 0 1 auto;
   }

   &__title {
      font-size: 48px;
      font-weight: 700;
      line-height: 59px;
      color: #2b2213;
      padding: 150px 0px 22px 0px;
   }

   &__text {
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      color: #000;
      opacity: 0.6;
      text-align: center;
      padding: 0px 0px 150px 0px;
   }
}

.main {
   &__benefits {
      display: flex;
      justify-content: center;
      background-color: #fff;
   }
}

.benefits {
   &__row {
      max-width: 1290px;
      flex: 1 1 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 67px 0px 0px 0px;
   }

   &__content {
      margin: 0px 34px 0px 0px;
   }

   &__title {
      padding: 36px 0px 24px 0px;
      font-size: 48px;
      font-weight: 500;
      line-height: 59px;
      color: #2b2213;
   }

   &__text {
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      color: #2b2213;
      padding: 0px 0px 59px 0px;
   }

   &__item-box {
      display: flex;
      padding: 0px 0px 32px 0px;
   }

   &__item-box:last-child {
      padding: 0px;
      margin: 0px 0px 139px 0px;
   }

   &__item {
      padding: 0px 0px 0px 17px;
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
      color: #2b2213;
   }
}

.block {
   &__row {
      display: flex;
      align-items: flex-start;
      background: url("../img/icons/arrow.svg") 75% 10% no-repeat, url("../img/icons/arrow.svg") 25% 10% no-repeat;
      flex: 0 1 33.333%;
   }

   &__container {
      margin: 0px 150px 0px 0px;
   }

   &__container:last-child {
      background: none;
      margin: 0;
   }
}

.container {
   &__img {
      padding: 0px 0px 37px 0px;
   }

   &__title {
      font-size: 22px;
      font-weight: 500;
      line-height: 30px;
      color: #2b2213;
      padding: 0px 0px 14px 0px;
   }

   &__text {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      color: #2b2213;
      text-align: center;
      padding: 0px 0px 133px 0px;
   }
}

.main {
   &__stock {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.3);
      background: url("../img/bg.png") 0 0/ 100% 100% no-repeat;
      backdrop-filter: blur(3px);
   }
}
.stock {
   &__row {
      max-width: 1290px;
      height: 650px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1 1 50%;
   }
}

.delivery {
   &__title {
      font-size: 46px;
      font-weight: 700;
      line-height: 56px;
      color: #f8f9fa;
      padding: 0px 121px 43px 0px;
   }

   &__btn {
      padding: 18px 50px;
   }
}

.time-count {
   display: flex;
   flex-direction: column;
   text-align: center;

   &__title {
      font-size: 24px;
      font-weight: 500;
      line-height: 29px;
      color: #f8f9fa;
      padding: 0px 0px 15px 0px;
   }

   &__content {
      display: flex;
      text-align: center;
      flex: 0 1 auto;
      backdrop-filter: blur(7px);
      background-color: #f5f5f5;
      border-radius: 10px;
   }

   &__block {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 53px 15px 53px;
   }

   &__item:last-child {
      margin: 0;
   }

   &__val {
      font-size: 64px;
      font-weight: 700;
      line-height: 79px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #f89d13;
      display: flex;
      align-items: center;
   }

   &__separator {
      margin: 0px 0px 20px 0px;
      height: 85px;
      width: 20px;
      display: flex;
      align-items: flex-start;
   }

   &__items {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
   }

   &__text {
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      color: #2b2213;
      padding: 0px 0px 15px 0px;
   }
}

.slider {
   &__title {
      font-size: 48px;
      font-weight: 500;
      line-height: 59px;
      color: #2b2213;
      text-align: center;
      padding: 150px 0px 22px 0px;
   }

   &__text {
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      color: #2b2213;
      text-align: center;
      padding: 0px 0px 87px 0px;
   }
}
/* Ограничивающая оболочка */
.slick-list {
   max-width: 1290px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   overflow: hidden;
   background-color: #fafafa;
   border-radius: 8px;
}
/* Лента слайдов */
.slick-track {
   display: flex;
   align-items: flex-start;
}

/*Конкретный слайдер*/

.main__content-slider {
   background-color: #fff;
}

.main__slider {
   position: relative;
}

.main__slick-slider {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex: 0 1 50%;
}

.main__slider slick-slider {
   position: relative;
}

.main__slider .slick-arrow {
   position: absolute;
   top: 30%;
   z-index: 1;
   font-size: 0;
   width: 30px;
   height: 60px;
}

.main__slider .slick-arrow.slick-prev {
   left: -50px;
   background: url("../img/icons/prev.svg") 0 0 / 100% no-repeat;
}

.main__slider .slick-arrow.slick-next {
   right: -50px;
   background: url("../img/icons/next.svg") 0 0 / 100% no-repeat;
}

.main__slider .slick-dots {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 43px 0px 100px 0px;
}

.main__slider .slick-dots li {
   list-style: none;
   margin: 0px 4px;
}

.main__slider .slick-dots li.slick-active button {
   background-color: #f89d13;
}

.main__slider .slick-dots button {
   font-size: 0;
   width: 10px;
   height: 10px;
   background-color: #c4c4c4;
   border-radius: 50%;
}

.slider__row {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.slider {
   &__info {
      padding: 0px 0px 0px 40px;
   }

   &__name {
      font-size: 28px;
      font-weight: 500;
      line-height: 38px;
      color: #2b2213;
      padding: 0px 0px 10px 0px;
   }

   &__service {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: #2b2213;
      margin: 0px 0px 4px 0px;
   }

   &__description {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      color: #2b2213;
      margin: 40px 0px 0px 0px;
   }
}

.main {
   &__questions {
      background-color: #fafafa;
   }
}
.questions {
   &__row {
      display: flex;
      justify-content: center;
      flex: 0 1 50%;
   }

   &__title {
      font-size: 48px;
      font-weight: 500;
      line-height: 59px;
      color: #2b2213;
      text-align: center;
      padding: 100px 0px 79px 0px;
   }

   &__accordion-left {
      padding: 0px 0px 70px 0px;
   }
}
.accordion-left {
   &__block-title {
      width: 630px;
      border: 1px solid #adadad;
      border-radius: 7px;
      padding: 28px 45px 28px 30px;
      margin: 0px 30px 30px 0px;
      position: relative;
      cursor: pointer;
      transition: all 0.5s ease;
   }

   &__block-title:last-child {
      margin: 0px 0px 100px 0px;
   }

   &__block-title:before,
   &__block-title:after {
      content: "";
      width: 20px;
      height: 1px;
      background-color: #f89d13;
      position: absolute;
      top: 40px;
      right: 25px;
      transition: all 0.3s ease;
   }

   &__block-title:before {
      transform: rotate(180deg);
      right: 25px;
   }

   &__block-title:after {
      transform: rotate(90deg);
      right: 25px;
   }

   &__block-title.active {
      margin: 0;
      border-radius: 7px 7px 0px 0px;
      transition: top 0.3s ease;
   }

   &__block-title.active:before {
      transform: rotate(130deg);
   }

   &__block-title.active:after {
      transform: rotate(45deg);
   }

   &__block-text {
      width: 630px;
      border: 1px solid #adadad;
      border-radius: 0px 0px 7px 7px;
      padding: 23px 30px 23px 30px;
      margin: 0px 0px 30px 0px;
      transition: top 0.3s ease;
   }

   &__block-text:last-child {
      margin: 0px 0px 30px 0px;
   }

   &__title {
      font-size: 18;
      font-weight: 500;
      line-height: 24px;
      color: #2b2213;
   }

   &__text {
      font-size: 16;
      font-weight: 400;
      line-height: 22px;
      color: #2b2213;
      opacity: 0.8;
   }
}

.accordion-right {
   &__block-title {
      width: 630px;
      border: 1px solid #adadad;
      border-radius: 7px 7px 7px 7px;
      padding: 28px 45px 28px 30px;
      margin: 0px 0px 30px 0px;
      position: relative;
      cursor: pointer;
      transition: all 0.5s ease;
   }

   &__block-title:last-child {
      margin: 0px 0px 100px 0px;
   }

   &__block-text {
      width: 630px;
      border: 1px solid #adadad;
      border-radius: 0px 0px 7px 7px;
      padding: 23px 30px 23px 30px;
      margin: 0px 0px 30px 0px;
      transition: top 0.3s ease;
   }

   &__block-text:last-child {
      margin: 0px 0px 100px 0px;
   }

   &__title {
      font-size: 18;
      font-weight: 500;
      line-height: 24px;
      color: #2b2213;
   }

   &__block-title:before,
   &__block-title:after {
      content: "";
      width: 20px;
      height: 1px;
      background-color: #f89d13;
      position: absolute;
      top: 40px;
      right: 25px;
      transition: all 0.3s ease;
   }

   &__block-title:before {
      transform: rotate(180deg);
      right: 25px;
   }

   &__block-title:after {
      transform: rotate(90deg);
      right: 25px;
   }

   &__block-title.active {
      margin: 0;
      border-radius: 7px 7px 0px 0px;
      transition: top 0.3s ease;
   }

   &__block-title.active:before {
      transform: rotate(130deg);
   }

   &__block-title.active:after {
      transform: rotate(45deg);
   }

   &__text {
      font-size: 16;
      font-weight: 400;
      line-height: 22px;
      color: #2b2213;
      opacity: 0.8;
   }
}

.accordion-left__block-text {
   display: none;
}

.accordion-right__block-text {
   display: none;
}

.main {
   &__feedback {
      background-color: #fff;
      padding: 54px 0px 0px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
   }

   &__feedback::after{
      content: '';
      position: absolute;
      top: 0;
      left:0;
      width: 100%;
      height: 100%;
      background: rgba(51, 51, 51, 0.9) url('../img/icons/loading.webp') center / 50px no-repeat;
      transition: all 0.3s ease;
      opacity: 0;
      visibility: hidden;
   }

   &__feedback._sending::after{
      opacity: 1;
      visibility: visible;
   }
}
.feedback {
   &__row {
      min-width: 1290px;
      display: flex;
      justify-content: space-between;
      flex: 0 1 50%;
   }

   &__info-row {
      display: flex;
      flex-direction: column;
   }

   &__title {
      font-weight: 500;
      font-size: 48px;
      line-height: 59px;
      color: #2b2213;
      margin: 86px 0px 12px 0px;
   }

   &__text {
      font-size: 24px;
      line-height: 32px;
      color: #2b2213;
      opacity: 0.8;
      margin: 0px 0px 40px 0px;
   }

   &__name {
      width: 430px;
      height: 50px;
      padding: 15px 20px;
      margin: 0px 0px 10px 0px;
      background-color: #f5f5f5;
      border: none;
      border-radius: 3px;
   }

   &__name._error {
      background-color: rgba(250, 25, 25, 0.04);
      border: 0.5px solid #FF2323;
   }

   &__tel._error{
      background-color: rgba(250, 25, 25, 0.04);
      border: 0.5px solid #FF2323;
   }


   &__tel {
      width: 430px;
      height: 50px;
      padding: 0px 0px 18px 0px;
      background-color: #f5f5f5;
      border: none;
      border-radius: 3px;
      padding: 15px 20px;
   }

   &__btn {
      width: 430px;
      height: 55px;
   }
}

.footer {
   background-color: #fafafa;
   margin: 0px 0px 243px 0px;
   display: flex;
   justify-content: center;
   align-items: center;

   &__row {
      max-width: 1290px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 73px 0px 59px 0px;
   }

   &__logo {
      color: #2b2213;
   }

   &__contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0px 166px;
   }

   &__info {
      display: flex;
      margin: 0px 50px;
   }

   &__line {
      width: 100%;
      height: 1px;
      background-color: #2b2213;
      opacity: 0.8;
      margin: 0px 0px 24px 0px;
   }

   &__text {
      display: flex;
      margin: 0px 0px 43px 0px;
   }
}

.logo-image__img-1 {
   cursor: pointer;
   opacity: 1;
   transition: all 0.3s ease;
}

.logo-image__img-1:hover {
   transition: all 0.3s ease;
   opacity: 0.6;
}

.logo-image__img-2 {
   cursor: pointer;
   opacity: 1;
   transition: all 0.3s ease;
}

.logo-image__img-2:hover {
   transition: all 0.3s ease;
   opacity: 0.6;
}

.logo-image__img-3 {
   cursor: pointer;
   opacity: 1;
   transition: all 0.3s ease;
}

.logo-image__img-3:hover {
   transition: all 0.3s ease;
   opacity: 0.6;
}

.footer {
   &__tel {
      color: #2a2213;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      margin: 0;
   }

   &__nav {
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      color: #2a2213;
      display: flex;
      margin: 0px 30px 0px 0px;
      display: flex;
      transition: all 0.3s ease;
   }

   &__nav:hover {
      opacity: 0.6;
      transition: all 0.3s ease;
   }

   &__txt {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: #2b2213;
      opacity: 0.9;
      padding: 0px 100px 0px 0px;
   }
   &__txt:last-child {
      padding: 0;
   }
}

.address {
   font-size: 18px;
   font-weight: 400;
   line-height: 24px;
   color: #2b2213;
   opacity: 0.9;
}

.burger {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 0;
   background-color:transparent;
   border: 0;
   width:35px;
   height: 25px;
   display: none;
}

.burger:hover{
   cursor:pointer;
}

.burger:focus {
   outline: none;
}

.burger-line {
   position: relative;
   width: 100%;
   height: 5px;
   background-color:#2B2213;
   transition: all 0.3s ease;
}

.burger-line:nth-child(1) {
   top: 5px;
   transform: translateY(-10px);
}

.burger-line:nth-child(3) {
   bottom: 5px;
   transform: translateY(10px);
   }

   .burger._active{
      position: absolute;
      top: 33px;
      right: 60px;
   }

   .burger._active .burger-line:nth-child(1){
      transform: rotate(45deg);
      background-color:#2B2213;
   }

   .burger._active .burger-line:nth-child(2){
      opacity: 0;
   }

   .burger._active .burger-line:nth-child(3){
      transform: rotate(-45deg);
      background-color:#2B2213;
   }

   .full-screen__nav-log{
      display: none;
   }

   .full-screen__nav-contacts{
      display: none;
   }

   .nav__txt{
      display: none;
   }

   .nav__logo-image{
      display: none;
   }


@media screen and (max-width: 1300px) {
   .container {
      width: 1140px;
   }

   .full-screen__row {
      max-width: 1140px;
   }

   .full-screen__navigation-head {
      width: 100%;
   }

   .full-screen__info {
      margin: 0px 79px;
   }

   .full-screen__title {
      padding: 286px 0px 53px 0px;
   }

   .contact {
      margin: 0px 0px 173px 0px;
   }

   .content__text {
      padding: 0px 0px 53px 0px;
   }

   .transportation__title {
      padding: 10px 45px;
      align-items: center;
      justify-content: center;
      display: flex;
   }

   .main__block {
      flex: 1 1 33.333%;
      justify-content: space-between;
   }

   .card-block__card {
      width: 350px;
   }

   .card__item {
      width: 350px;
   }

   .card-block__btn {
      padding: 14px 80px;
   }

   .benefits__row {
      max-width: 1140px;
      padding: 67px 15px 0px 15px;
   }

   .benefit__image {
      width: 500px;
      margin: 169px 0px 0px 0px;
   }

   .benefits__title {
      padding: 70px 0px 24px 0px;
   }

   .main__scheme {
      flex-wrap: wrap;
   }

   .scheme__row {
      width: 970px;
   }

   .block__row {
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      background: url("../img/icons/arrow-2.svg") 70% 40% no-repeat, url("../img/icons/arrow.svg") 50% 10% no-repeat;
   }

   .block__container {
      margin: 0px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: space-between;
   }

   .block__container:nth-child(3) {
      width: 100%;
      display: flex;
      align-content: center;
   }

   .stock__row {
      max-width: 1140px;
      padding: 80px 15px 0px 15px;
      display: flex;
      flex-wrap: wrap-reverse;
   }

   .time-count {
      display: block;
      width: 350px;
   }

   .time-count__block {
      padding: 0;
   }

   .time-count__val {
      font-size: 40px;
      letter-spacing: 0.2em;
   }

   .time-count__content {
      padding: 12px 33px 6px 33px;
      justify-content: center;
      align-items: center;
   }

   .time-count__text {
      padding: 0px 0xp 7px 0px;
   }

   .time-count__title {
      padding: 0px 0px 9px 0px;
   }

   .delivery__btn {
      margin: 0px 0px 100px 0px;
   }

   .main__slick-slider {
      width: 930px;
      margin: 0px 0px 0px 70px;
   }

   .img-slider {
      width: 426px;
      height: 302px;
   }

   .slider__info {
      padding: 0px 0px 0px 30px;
      margin: 0px -30px 0px 0px;
   }

   .main__slider {
      width: 930px;
   }

   .slider__description {
      width: 470px;
      padding: 0px 5px;
   }

   .main__slider .slick-dots {
      padding: 33px 0px 236px 0px;
   }

   .main__slider .slick-arrow {
      top: 20%;
   }

   .questions__row {
      flex-wrap: wrap;
      width: 80%;
      margin: 0 auto;
      padding: 0px 0px 90px 0px;
   }

   .accordion-left__block-title {
      margin: 0px 0px 30px 0px;
      padding: 28px 47px 28px 47px;
      width: 1000px;
   }

   .accordion-left__block-title:active {
      margin: 0;
   }

   .accordion-left__block-text {
      margin: 0px 0px 30px 0px;
      width: 1000px;
   }

   .accordion-right__block-title {
      margin: 0px 0px 30px 0px;
      padding: 28px 47px 28px 47px;
      width: 1000px;
   }

   .accordion-right__block-title:last-child {
      margin: 0px 0px 90px 0px;
   }

   .accordion-right__block-title:active {
      margin: 0;
   }

   .accordion-right__block-text {
      margin: 0px 0px 30px 0px;
      width: 1000px;
   }

   .questions__accordion-left {
      padding: 0px 0px 0px 0px;
   }

   .questions__accordion-right {
      width: 1120px;
   }

   .feedback__row {
      min-width: 1140px;
      justify-content: space-around;
   }

   .feedback__info-row {
      margin: 0px 0px 0px 10px;
   }

   .feedback__image {
      width: 450px;
   }

   .footer {
      min-width: 1140px;
   }

   .footer__body {
      position: relative;
   }

   .footer__row {
      width: 1140px;
      flex-wrap: wrap;
   }

   .footer__logo {
      width: 33.333%;
   }

   .footer__contacts {
      margin: 0;
      width: 33.333%;
      order: 1;
   }

   .footer__info {
      margin: 0;
      width: 33.333%;
   }

   .footer__line {
      display: none;
   }

   .footer__img {
      position: absolute;
      right: 0;
      bottom: 0;
   }

   .footer__img:nth-child(1) {
      bottom: 41px;
      right: 300px;
   }

   .footer__img:nth-child(2) {
      bottom: 41px;
      right: 256px;
   }

   .footer__img:nth-child(3) {
      bottom: 41px;
      right: 212px;
   }
}

@media screen and (max-width: 1139px) {
   .container {
      width: 768px;
   }

   .full-screen__info {
      position: fixed;
      top: 0;
      right: -150%;
      width: 100%;
      height: 100%;
      padding: 100px 100px;
      background-color: #fff;
      transition: right 0.6s ease;
      margin: 0;
      flex-direction: column;
   }

   .full-screen__info-row {
      content: "";
      position: fixed;
      top: 0;
      left: 150%;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      transition: left 0.6s ease;
      overflow: auto;
      z-index: 1;
   }

   .full-screen__info-row._active {
      content: "";
      position: fixed;
      left: 0;
      z-index: 1;
   }

   .full-screen__info._active{
      right: -40%;
   }

   .burger{
      position: absolute;
      top: 33px;
      right: 60px;
      display: block;
      z-index: 5;
   }

   .full-screen__services{
      flex-direction: column;
   }

   .full-screen__services a{
      color: #2A2213;
      font-size: 24px;
      line-height: 32px;
      font-weight: 500;
      text-align: center;
      padding: 0px 0px 15px 0px;
   }

   .full-screen__services .full-screen__nav-log{
      display: block;
      position: absolute;
      top: 35px;
      left: 100px;
      font-size: 18px;
      line-height: 21px;
      font-weight: 700;
      color: #F89D13;
      text-transform: none;
   }

   .burger._active {
      right: 60px;
   }

   .nav__tel{
      margin: 0;
      font-size: 24px;
      line-height: 32px;
      font-weight: 900;
      color: #F89D13;
      padding: 0px 0px 3px 0px;
   }

   .full-screen__nav-contacts{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 72px 0px 0px 0px;
   }

   .full-screen__nav-contacts .nav-address{
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      color: #2b2213;
      opacity: 0.9;
      padding: 0px 0px 40px 0px;
   }

   .nav__txt{
      display: block;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: #2B2213;
      opacity: 0.8;
      padding: 0px 0px 9px 0px;
   }

   .nav__logo-image{
      display: block;
   }

   .full-screen__tel-button {
      display: none;
   }

   .full-screen__video {
      display: none;
   }

   .full-screen {
      background: url("../img/bg-tel.png") 0 0/ 100% 100% no-repeat;
      background-color: rgba(0, 0, 0, 0.5);
   }

   .full-screen__logo{
      padding: 0px 0px 0px 60px;
      z-index: 5;
   }

   .full-screen__row{
      width: 768px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
   }

   .full-screen__navigation-head {
      width: 100%;
   }

   .full-screen__bell{
      z-index: 0;
   }

   .full-screen__tel{
      font-size: 30px;
      line-height: 40px;
      color: #F89D13;
      margin: 0px 0px 0px 50px;
   }

   .full-screen__title {
      font-size: 36px;
      line-height: 44px;
   }

   .content__title {
      font-size: 36px;
      line-height: 44px;
   }

   .content__text {
      font-size: 18px;
      line-height: 24px;
   }

   .content__transportation {
      flex-wrap: wrap;
      align-items: center;
   }

   .transportation__title {
      width: 648px;
      padding: 26px 40px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      border: none;
   }

   .main__block {
      justify-content: center;
   }

   .main__card-block {
      flex-wrap: wrap;
      align-items: center;
      width: 561px;
   }

   .card-block__card {
      width: 561px;
   }

   .card__item {
      width: 561px;
   }

   .card-block__btn {
      font-size: 20px;
      font-weight: 700;
      line-height: 25px;
      width: 492px;
   }

   .benefits__row {
      flex-wrap: wrap;
      align-items: center;
      text-align: center;
      justify-content: center;
   }

   .benefits__content {
      margin: 0px;
   }

   .benefits__title {
      font-size: 36px;
      font-weight: 500;
      line-height: 44px;
   }

   .benefits__text {
      font-size: 18px;
      line-height: 24px;
   }

   .benefits__item-box {
      flex-direction: column;
      align-items: center;
      margin: 0px 0px 51px 0px;
   }

   .benefits__item-box:last-child {
      margin: 0px;
   }

   .done-img {
      width: 46px;
      height: 46px;
   }

   .benefits__item {
      font-size: 18px;
      line-height: 24px;
   }

   .benefit__image {
      width: 651px;
      height: 683px;
      margin: 92px 0px 0px 0px;
   }

   .scheme__row {
      width: 768px;
   }

   .scheme__title {
      font-weight: 500;
      padding: 90px 0px 22px 0px;
   }

   .scheme__text {
      padding: 0px 0px 92px 0px;
   }

   .block__row {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      background: url(../img/icons/arrow-3.svg) 50% 60% no-repeat, url(../img/icons/Arrow-3.svg) 50% 25% no-repeat;
   }

   .block__container {
      width: 100%;
      display: flex;
      align-content: center;
   }

   .container__text {
      padding: 0px 0px 139px 0px;
   }

   .main__stock {
      background: url(../img/bg.png) center / 100% 100% no-repeat;
      background-size: cover;
   }

   .stock__row {
      width: 768px;
      padding: 0px 0px 0px 0px;
      justify-content: center;
      align-items: center;
      text-align: center;
   }

   .delivery__title {
      font-size: 36px;
      line-height: 44px;
      padding: 87px 0px 41px 0px;
   }

   .delivery__btn {
      margin: 0px 0px 127px 0px;
   }

   .time-count__title {
      font-size: 16px;
      line-height: 20px;
      padding: 87px 0px 9px 0px;
   }

   .time-count__content {
      width: 293px;
      height: 100px;
      margin: 0 auto;
   }

   .time-count__val {
      font-size: 40px;
      line-height: 30px;
      letter-spacing: 0.2em;
      margin: 0;
      align-items: center;
   }

   .time-count__separator {
      margin: 0px 0px 25px 0px;
   }

   .time-count__block {
      max-height: 66px;
   }

   .time-count__text {
      font-size: 12px;
      line-height: 15px;
      color: #2b2213;
      padding: 0;
   }

   .main__slick-slider {
      width: 768px;
      margin: 0 auto;
   }

   .main__slider {
      width: 649px;
      height: 439px;
   }

   .slider__row {
      flex-wrap: wrap;
   }

   .slick-list {
      max-width: 768px;
      border-radius: 0;
   }

   .main__slider .slick-arrow {
      top: 45%;
   }

   .slider__description {
      width: 100%;
      padding: 0px 5px;
   }

   .img-slider {
      object-fit: cover;
      width: 100%;
      height: 212px;
   }

   .slider__name {
      font-size: 20px;
      line-height: 27px;
      padding: 0px 0px 8px 0px;
   }

   .slider__service {
      font-size: 14px;
      line-height: 19px;
      margin: 0px 0px 3px 0px;
   }

   .slider__service:last-child {
      margin: 0px 0px 40px 0px;
   }

   .slider__description {
      margin: 0;
   }

   .main__slider .slick-dots {
      margin: 20px 0px 68px 0px;
      padding: 0;
   }

   .main__slider .slick-dots li {
      margin: 0px 3px 0px 0px;
   }

   .main__slider .slick-dots li:last-child {
      margin: 0px;
   }

   .questions__row {
      padding: 0px 0px 30px 0px;
   }

   .questions__title {
      font-size: 36px;
      line-height: 44px;
      padding: 60px 0px 55px 0px;
   }

   .accordion-left__block-title {
      margin: 0px 0px 30px 0px;
      padding: 28px 30px 28px 30px;
      width: 648px;
   }

   .questions__accordion-right {
      width: 648px;
   }

   .accordion-right__block-title {
      margin: 0px 0px 30px 0px;
      padding: 28px 30px 28px 40px;
      width: 648px;
   }

   .accordion-left__block-text {
      width: 648px;
   }

   .accordion-right__block-text {
      width: 648px;
   }

   .accordion-right__block-text:last-child {
      margin: 0px 0px 40px 0px;
   }

   .feedback__row {
      min-width: 768px;
      max-width: 768px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
   }

   .feedback__info-row {
      margin: 0 auto;
   }

   .main__feedback {
      padding: 0;
   }

   .feedback__title {
      font-size: 36px;
      line-height: 44px;
      margin: 60px 0px 27px 0px;
      text-align: center;
   }

   .feedback__text {
      font-size: 18px;
      line-height: 24px;
      margin: 0px 0px 41px 0px;
      text-align: center;
   }

   .feedback__name {
      width: 648px;
      height: 50px;
      padding: 15px 30px;
   }
   .feedback__tel {
      width: 648px;
      height: 50px;
      padding: 15px 30px;
   }

   .feedback__btn {
      font-size: 18px;
      line-height: 22px;
      width: 648px;
      height: 50px;
      padding: 15px 30px;
      margin: 0px 0px 78px 0px;
   }

   .footer {
      min-width: 768px;
   }

   .footer__row {
      max-width: 768px;
      width: 768px;
      flex-wrap: wrap;
   }

   .footer__logo {
      width: 100%;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      margin: 0px 0px 44px 0px;
   }

   .footer__contacts {
      margin: 0;
      width: 100%;
      order: 1;
      align-items: center;
   }

   .footer__nav {
      width: 100%;
      font-size: 24px;
      line-height: 32px;
      margin: 0px 30px 164px 0px;
      justify-content: center;
   }

   .footer__info {
      width: 100%;
      justify-content: center;
      order: 3;
   }

   .footer__tel {
      font-size: 48px;
      line-height: 64px;
      margin: 0px 0px 8px 0px;
      text-align: center;
      color: #f89d13;
   }

   .address {
      font-size: 24px;
      line-height: 32px;
      margin: 0px 0px 80px 0px;
   }

   .footer__img:nth-child(1) {
      bottom: 150px;
      right: 420px;
      object-fit: cover;
      width: 54px;
      height: 54px;
   }

   .footer__img:nth-child(2) {
      bottom: 150px;
      right: 357px;
      object-fit: cover;
      width: 54px;
      height: 54px;
   }

   .footer__img:nth-child(3) {
      bottom: 150px;
      right: 294px;
      object-fit: cover;
      width: 54px;
      height: 54px;
   }

   .footer__text {
      flex-wrap: wrap;
      margin: 0px;
   }

   .footer__txt {
      font-size: 18px;
      line-height: 24px;
      padding: 0;
      width: 100%;
      text-align: center;
   }

   .footer__txt:last-child {
      margin: 0px 0px 65px 0px;
   }
}

@media screen and (max-width: 767px) {
   .container {
      max-width: 100%;
      width: 100%;
      padding: 0 15px;
   }

   .full-screen__navigation-head {
      width: 100%;
      background: none;
      box-shadow: none;
      position: static;
      z-index: 1;
   }

   .full-screen__row {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
   }

   .full-screen__menu{
      z-index: 10;
   }

   .burger {
      top: 11px;
      right: 20px;
   }

   .burger._active {
      top: 11px;
      right: 20px;
   }

   .full-screen__info-row {
      content: "";
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      transition: transform 0.6s ease;
      overflow: auto;
      z-index: 1;
   }

   .full-screen__info-row._active {
      content: "";
      position: fixed;
      left: 0;
      z-index: 1;
   }

   .full-screen__info {
      position: fixed;
      top: 0;
      right: -150%;
      width: 100%;
      height: 100%;
      padding: 100px 20px;
      margin: 0px 79px;
      background-color: #fff;
      overflow: auto;
   }

   .full-screen__info._active{
      display: block;
      position: fixed;
      right: -43%;
   }

   .full-screen__services .full-screen__nav-log{
      position: absolute;
      top: 30px;
      left: 20px;
      font-size: 18px;
      line-height: 21px;
      font-weight: 700;
      color: #F89D13;
      text-transform: none;
   }

   .full-screen__services a{
      color: #2A2213;
      font-size: 24px;
      line-height: 32px;
      font-weight: 500;
      text-align: center;
   }

   .full-screen__services a:nth-child(2){
      padding: 15px 0px;
   }

   .nav__tel{
      margin: 0;
      font-size: 24px;
      line-height: 32px;
      font-weight: 900;
      color: #F89D13;
      padding: 0px 0px 3px 0px;
   }

   .full-screen__nav-contacts .nav-address{
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
   }

   .full-screen__nav-contacts{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 72px 0px 0px 0px;
   }

   .nav__txt{
      display: block;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: #2B2213;
      opacity: 0.8;
      padding: 0px 0px 9px 0px;
   }

   .nav__logo-image{
      display: block;
   }

   .full-screen__services li{
      z-index: 10;
   }

   .full-screen__navigation {
      justify-content: space-between;
      position: relative;
   }

   .menu__icon {
      display: block;
      position: absolute;
      top: 22px;
      right: 20px;
   }

   .burger-line{
      display: block;
      background-color:#fff;
   }

   .full-screen__logo {
      width: 100%;
      font-size: 12px;
      line-height: 14px;
      color: #fff;
      padding: 0px 0px 0px 22px;
      z-index: 1;
   }

   .full-screen__bell {
      margin: 0px 0px 0px 20px;
      z-index: 0;
   }

   .full-screen__tel {
      color: #f89d13;
      font-size: 18px;
      line-height: 24px;
      margin: 0px;
   }

   .full-screen__title {
      font-size: 24px;
      line-height: 29px;
      padding: 83px 0px 47px 0px;
   }

   .contact__row {
      width: 280px;
      padding: 0;
      height: auto;
   }

   .contact__title {
      width: 180px;
      font-size: 16px;
      line-height: 20px;
      padding: 30px 0px 20px 0px;
   }

   .tel {
      width: 280px;
      height: 40px;
      margin: 0px 0px 10px 0px;
   }

   .contact__btn {
      width: 280px;
      font-size: 14px;
      line-height: 17px;
      padding: 12px 76px;
      margin: 0px 0px 23px 0px;
   }

   .contact__text {
      width: 234px;
      padding: 0px 0px 26px 0px;
   }

   .contact {
      margin: 0px 0px 56px 0px;
   }
   .content__title {
      font-size: 24px;
      line-height: 29px;
      padding: 60px 0px 15px 0px;
   }

   .content__text {
      width: 280px;
      font-size: 14px;
      line-height: 19px;
      opacity: 0.8;
   }

   .transportation__title {
      width: 280px;
      padding: 17px 15px;
      font-size: 14px;
      line-height: 17px;
      margin: 0px 0px 10px 0px;
   }

   .transportation__title:first-child {
      margin: 0px 0px 10px 0px;
   }

   .transportation__title:last-child {
      margin: 0px 0px 50px 0px;
   }

   .card__item {
      width: 280px;
   }

   .card-block__card {
      width: 280px;
      margin: 0px 0px 40px 0px;
      flex: 1 1 auto;
   }

   .card-block__card:last-child {
      margin: 0px 0px 40px 0px;
   }

   .main__card-block {
      flex-wrap: wrap;
      align-items: center;
      width: 280px;
   }

   .card-block__btn {
      width: 226px;
      font-size: 14px;
      line-height: 17px;
      padding: 12px 76px;
      margin: 0px 0px 23px 0px;
   }

   .benefits__row {
      max-width: 320px;
      padding: 0px 15px 0px 15px;
   }

   .benefits__title {
      font-size: 24px;
      line-height: 29px;
      padding: 40px 0px 15px 0px;
   }

   .benefits__text {
      font-size: 14px;
      line-height: 19px;
      padding: 0px 0px 41px 0px;
   }

   .benefits__item-box {
      margin: 0px 0px 51px 0px;
      padding: 0;
   }

   .benefits__item-box:last-child {
      margin: 0px 0px 68px 0px;
   }

   .done-img {
      margin: 0px 0px 17px 0px;
   }

   .benefits__item {
      font-size: 14px;
      line-height: 19px;
      padding: 0;
   }

   .benefit__image {
      width: 288px;
      height: 302px;
      margin: 0;
   }

   .scheme__row {
      width: 320px;
   }

   .scheme__title {
      padding: 60px 0px 14px 0px;
      font-size: 24px;
      line-height: 29px;
   }

   .scheme__text {
      font-size: 14px;
      line-height: 19px;
      padding: 0px 0px 49px 0px;
   }

   .block__row {
      background: url(../img/icons/arrow-4.svg) 50% 60% no-repeat, url(../img/icons/arrow-4.svg) 50% 25% no-repeat;
   }

   .container__image {
      object-fit: cover;
      width: 50px;
      height: 50px;
   }

   .container__title {
      font-size: 16px;
      line-height: 22px;
      padding: 0px 0px 5px 0px;
   }

   .container__text {
      font-size: 14px;
      line-height: 19px;
      padding: 0px 0px 100px 0px;
   }

   .stock__row {
      width: 320px;
   }

   .time-count__title {
      font-size: 12px;
      line-height: 15px;
      padding: 70px 0px 6px 0px;
   }

   .time-count__val {
      font-size: 32px;
      line-height: 27px;
      color: #f94d17;
   }

   .time-count__content {
      width: 223px;
      height: 60px;
      margin: 0 auto;
      padding: 10px 26px 5px 26px;
   }

   .delivery__title {
      width: 265px;
      font-size: 24px;
      line-height: 29px;
      padding: 0px 0px 48px 0px;
   }

   .delivery__btn {
      width: 250px;
      font-size: 16px;
      line-height: 20px;
      padding: 12px 20px;
      margin: 0px 0px 97px 0px;
   }

   .main__content-slider {
      padding: 0px 0px 80px 0px;
   }

   .main__slick-slider {
      width: 268px;
      margin: 0 auto;
   }

   .main__slider {
      width: 268px;
      height: 372px;
   }

   .img-slider {
      -o-object-fit: cover;
      object-fit: cover;
      width: 268px;
      height: 152px;
   }

   .slider__title {
      font-size: 24px;
      line-height: 29px;
      padding: 73px 0px 15px 0px;
   }

   .slider__text {
      font-size: 14px;
      line-height: 19px;
      padding: 0px 0px 50px 0px;
   }

   .slider__name {
      font-size: 16px;
      line-height: 22px;
      padding: 0px 0px 3px 0px;
   }

   .slider__service {
      font-size: 12px;
      line-height: 16px;
      margin: 0px 0px 3px 0px;
   }

   .slider__description {
      width: 230px;
      font-size: 14px;
      line-height: 19px;
      margin: 27px 0px 0px 0px;
   }

   .main__slider .slick-dots {
      margin: 20px 0px 50px 0px;
      padding: 0;
   }

   .main__slider .slick-arrow.slick-next {
      top: -30px;
      right: 0;
      background: url(../img/icons/mobile-next.svg) 0 0 / 50% no-repeat;
   }

   .main__slider .slick-arrow.slick-prev {
      top: -30px;
      left: 190px;
      right: 0;
      background: url(../img/icons/mobile-prev.svg) 0 0 / 50% no-repeat;
   }

   .questions__title {
      font-size: 24px;
      line-height: 29px;
      padding: 60px 0px 40px 0px;
   }

   .questions__accordion-left {
      padding: 0;
      width: 280px;
   }

   .accordion-left__block-title {
      margin: 0px 0px 20px 0px;
      padding: 15px 50px 15px 15px;
      width: 280px;
   }

   .accordion-left__text {
      font-size: 14;
      font-weight: 500;
      line-height: 19px;
      opacity: 1;
   }

   .accordion-left__block-text {
      width: 280px;
   }

   .questions__accordion-left {
      padding: 0;
      width: 280px;
   }

   .questions__accordion-left {
      padding: 0;
      width: 280px;
   }

   .accordion-right__block-title {
      margin: 0px 0px 20px 0px;
      padding: 15px 50px 15px 15px;
      width: 280px;
   }

   .accordion-right__text {
      font-size: 14;
      font-weight: 500;
      line-height: 19px;
      opacity: 1;
   }

   .accordion-right__block-text {
      width: 280px;
   }

   .questions__accordion-right {
      padding: 0;
      width: 280px;
   }

   .feedback__row {
      min-width: 320px;
   }

   .feedback__info-row {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .feedback__title {
      font-size: 24px;
      line-height: 29px;
      margin: 40px 0px 15px 0px;
   }

   .feedback__text {
      font-size: 14px;
      line-height: 19px;
      margin: 0px 0px 45px 0px;
   }

   .feedback__name {
      width: 280px;
      height: 45px;
      padding: 14px 13px;
      margin: 0px 0px 10px 0px;
   }

   .tel {
      width: 280px;
      height: 45px;
      margin: 0px 0px 15px 0px;
      padding: 14px 13px;
   }

   .feedback__btn {
      font-size: 16px;
      line-height: 20px;
      width: 280px;
      height: 50px;
      padding: 15px 30px;
      margin: 0px 0px 62px 0px;
   }

   .feedback__image {
      width: 279px;
   }

   .footer {
      min-width: 320px;
   }

   .footer__row {
      max-width: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .footer__logo {
      width: 100%;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      margin: 0px 0px 38px 0px;
   }

   .footer__tel {
      font-size: 24px;
      line-height: 32px;
      margin: 0px 0px 3px 0px;
   }

   .address {
      font-size: 12px;
      line-height: 16px;
      margin: 0px 0px 49px 0px;
   }

   .footer__nav {
      width: 100%;
      font-size: 16px;
      line-height: 32px;
      margin: 0px 20px 108px 0px;
   }

   .footer__img:nth-child(1) {
      bottom: 20%;
      right: 58%;
      width: 39px;
      height: 39px;
   }

   .footer__img:nth-child(2) {
      bottom: 20%;
      right: 45%;
      width: 39px;
      height: 39px;
   }

   .footer__img:nth-child(3) {
      bottom: 20%;
      right: 32%;
      width: 39px;
      height: 39px;
   }

   .footer__txt {
      font-size: 14px;
      line-height: 19px;
      margin: 0px 0px 7px 0px;
   }

   .footer__txt:last-child {
      margin: 0px 0px 40px 0px;
   }

}
